@model IEnumerable<MyGoParking.Models.Customer>

@{
    ViewData["Title"] = "用戶管理";
}
@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" id="CreateBtn" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#CreateCust">
        <i class="fa-solid fa-user-plus"></i>
        新增
    </a>
</p>
<table id="CustTable" class="mdl-data-table table-hover table-striped">
    <thead class="table-color">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.BlackCount)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.IsBlack)
            </th>
            <th><i class="fa-solid fa-gear"></i></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
<!-- CreateModal -->
<div class="modal fade" id="CreateCust" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">新增用戶</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body Createbody">
                ...
            </div>
        </div>
    </div>
</div>
<!-- EditModal -->
<div class="modal fade" id="EditCust" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">編輯用戶</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body Editbody">
                ...
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/customer.min.js"></script>
}