@model IEnumerable<MyGoParking.Models.Ewallet>


@{
    ViewData["Title"] = "MyGo電子錢包";
}
@section Styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}


<h1>@ViewData["Title"]</h1>

<!-- Button trigger modal -->
<button type="button" class="CreateBtn btn btn-success mb-3" data-bs-toggle="modal" data-bs-target="#CreateModal">
    <i class="fa-solid fa-folder-plus fa-beat-fade"></i> 新增
</button>

<table id="walletTable" class="mdl-data-table table-hover text-center" style="width:100%">
    
    <thead class="text-nowrap">
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                <i class="fa-solid fa-gear"></i>
            </th>
        </tr>
    </thead>
    <tbody>
        
@* @foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AddMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinusMoney)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            <td class="text-nowrap">
                    <a asp-action="Edit" asp-route-id="@item.WalletId" class="EditBtn btn btn-info" data-id="@item.WalletId" data-bs-toggle="modal" data-bs-target="#EditModal"><i class="fa-solid fa-pen-to-square fa-beat"></i></a> |
                <button class="btn btn-danger" onclick="Delete(@item.WalletId)"><i class="fa-solid fa-trash fa-beat"></i></button>
                <form id="delete-form-@item.WalletId" action="/MyEwallet/Ewallet/Delete/@item.WalletId" method="post" style="display:none;">
                    @Html.AntiForgeryToken()
                </form>
            </td>
        </tr>
}
 *@    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="CreateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">新增</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body CreateEwallet">
                ...
            </div>
        </div>
    </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">編輯</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body EditEwallet">
                ...
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/ewallet.js"></script>
}