@model MyGoParking.Models.ParkingLot

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>你確定要刪除此停車場嗎?</h3>
<div>
    <h4>ParkingLot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LotAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Qty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Qty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Etcqty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Etcqty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monqty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monqty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsResStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsResStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsMonStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsMonStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contract)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contract)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LotId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
