@model IEnumerable<MyGoParking.Models.ParkingLot>


@{
    ViewData["Title"] = "停車場管理";
}

@section Styles{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/2.1.7/css/dataTables.material.css" rel="stylesheet" />
}

<h1>停車場管理</h1>

<p>
    <a id="CreateBtn" class="btn" onclick="CreatePopup()" data-bs-toggle="modal" data-bs-target="#CreateModal"><i class="fs-3 fa-solid fa-square-plus my-4" style="color: #090f3e"></i></a>
</p>

<table id="ParkLotTable" class="display text-hover text-center" style="width:100%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LotName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Longitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Latitude)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Etcqty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monqty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsResStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsMonStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contract)
            </th>
            <th><i class="fa-solid fa-gear"></i></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<!-- Create Modal -->
<div class="modal fade" id="CreateModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">新增</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ParkCreate">
            </div>
        </div>
    </div>
</div>
<!-- Edit Modal -->
<div class="modal fade" id="EditModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">編輯</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ParkEdit">
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/material-components-web/14.0.0/material-components-web.min.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.7/js/dataTables.material.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.3.2/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/js/parkinglot.js"></script>
}


